extends ../layout

block content
  .page-header
    h3 Cadastro de Informações Adicionais
  form.form-horizontal(action='/signupextra?userid=' + newuser._id, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label Admininstrador ?
      .col-sm-6
        label.checkbox.col-sm-3
          input(type='checkbox', checked=newuser.isadmin, name='isadmin', value='true', data-toggle='radio')
          span Sim
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=newuser.email, required=true)
    .form-group
      label.col-sm-3.control-label(for='name') Nome
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value=newuser.profile.name, required=true)
    .form-group
      label.col-sm-3.control-label Genero
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=newuser.profile.gender == 'male', name='gender', value='male', data-toggle='radio')
          span Masculino
        label.radio.col-sm-3
          input(type='radio', checked=newuser.profile.gender == 'female', name='gender', value='female', data-toggle='radio')
          span Feminino
        label.radio.col-sm-3
          input(type='radio', checked=newuser.profile.gender == 'other', name='gender', value='other', data-toggle='radio')
          span Outros
    .form-group
      label.col-sm-3.control-label Papel
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=newuser.role == 'user', name='role', value='user', data-toggle='radio')
          span Usuário
        label.radio.col-sm-3
          input(type='radio', checked=newuser.role == 'doctor', name='role', value='doctor', data-toggle='radio')
          span Médico
    .form-group
      label.col-sm-3.control-label(for='location') Endereço
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value=newuser.profile.location)
    .form-group
      label.col-sm-3.control-label Foto Perfil
      .col-sm-4
        img(src=user.gravatar(), class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-success(type='submit')
          i.fa.fa-pencil
          | Finalizar Cadastro
