extends ../../layout

block content
    .page-header
        h3 Cadastro de Paciente
    hr

    h4 Dados Gerais
    form.form-horizontal(action='/treatment/newpatient', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='name') Nome
            .col-sm-7
                input.form-control(type='text', name='name', id='name', required=true)
        .form-group
            label.col-sm-3.control-label(for='email') Email
            .col-sm-7
                input.form-control(type='email', name='email', id='email')
        .form-group
            label.col-sm-3.control-label Genero
            .col-sm-6
                label.radio.col-sm-3
                    input(type='radio', name='gender', value='male', data-toggle='radio', checked=true)
                    span Masculino
                label.radio.col-sm-3
                    input(type='radio', name='gender', value='female', data-toggle='radio')
                    span Feminino
                label.radio.col-sm-3
                    input(type='radio', name='gender', value='other', data-toggle='radio')
                    span Outros
        .form-group
            label.col-sm-3.control-label(for='cpf') CPF
            .col-sm-7
                input.form-control(type='text', name='cpf', id='cpf' required=true)
        .form-group
            label.col-sm-3.control-label(for='rg') RG
            .col-sm-7
                input.form-control(type='text', name='rg', id='rg')
        .form-group
            label.col-sm-3.control-label(for='birthday') Nacimento
            .col-sm-7
                input.form-control(type='date', name='birthday', id='birthday')
        .form-group
            label.col-sm-3.control-label(for='phone') Telefone
            .col-sm-7
                input.phone.form-control(type='tel', name='phone', id='phone')
        .form-group
            label.col-sm-3.control-label(for='nacionality') Nacionalidade
            .col-sm-7
                input.form-control(type='text', name='nationality', id='nationality')
        hr
        h4 Endereço
        .form-group
            label.col-sm-3.control-label(for='zip') CEP
            .col-sm-7
                input.form-control(type='text', name='zip', id='zip')
        .form-group
            label.col-sm-3.control-label(for='city') Cidade
            .col-sm-7
                input.form-control(type='text', name='city', id='city')
        .form-group
            label.col-sm-3.control-label(for='state') Estado
            .col-sm-7
                input.form-control(type='text', name='state', id='state')
        .form-group
            label.col-sm-3.control-label(for='number') Número
            .col-sm-7
                input.form-control(type='number', name='number', id='number')
        .form-group
            label.col-sm-3.control-label(for='street') Rua
            .col-sm-7
                input.form-control(type='text', name='street', id='street')
        .form-group
            label.col-sm-3.control-label(for='complement') Complemento
            .col-sm-7
                input.form-control(type='text', name='complement', id='complement')
        hr
        h4 Plano de Saúde
        .form-group
            label.col-sm-3.control-label(for='insuranceName') Nome do Plano
            .col-sm-7
                select.form-control(name='insuranceName', id='insuranceName')
                    option(value='', selected=true, disabled=true) Selecione
                    option(value='unimed') Unimed
                    option(value='bradesco ') Bradesco
                    option(value='secovi ') Secovi
        .form-group
            label.col-sm-3.control-label(for='insuranceCode') Número
            .col-sm-7
                input.form-control(type='number', name='insuranceCode', id='insuranceCode')
        hr
        h4 Dados do Jogador
        .form-group
            label.col-sm-3.control-label(for='club') Clube Atual
            .col-sm-7
                input.form-control(type='text', name='club', id='club')
        .form-group
            label.col-sm-3.control-label(for='clubActivityOpening') Início de Atividade no Clube
            .col-sm-7
                input.form-control(type='date', name='clubActivityOpening', id='clubActivityOpening')
        .form-group
            label.col-sm-3.control-label(for='position') Posição
            .col-sm-7
                select.form-control(name='position', id='position')
                    option(value='', selected=true, disabled=true) Selecione
                    option(value='zagueiro') Zagueiro
                    option(value='ld') Lateral Direito
                    option(value='le') Lateral Esquerdo
                    option(value='volante') Volante
                    option(value='meio campo') Meio de Campo
                    option(value='atacante') Atacante

        .form-group
            label.col-sm-3.control-label(for='category') Categoria
            .col-sm-7
                select.form-control(name='category', id='category')
                    option(value='', selected=true, disabled=true) Selecione
                    option(value='profissional') Profissional
                    option(value='juniores') Juniores
                    option(value='juvenil') Juvenil
        hr
        .form-group
            .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-success(type='submit')
                    i.fa.fa-pencil
                    | Próxima Etapa


        script.
          window.onload = function () {
            $('.phone').on('input', function () {
              $(this).val($(this).val().replace(/(\d{3})(\d{4})(\d{4})/, '($1) $2-$3'));
            });
            $('.cpf').text(function (i, text) {
              return text.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
            });
          }