extends ../../layout

block content
    h2 Pacientes
    hr
    .col-sm-8.col-sm-offset-2

        .col-sm-3(style='padding-left: 0')
            a.btn.btn-default(href='/treatment/newpatient', role='button')
                i.fa.fa-plus
                | Novo Paciente
        .col-sm-9
            input.form-control(type='text', name='search', id='search', placeholder='Buscar Paciente', autofocus)
        hr.col-sm-12
        table.table.table-striped.table-bordered.table-condensed.patients-table
            thead
                tr
                    th Perfil
                    th Nome
                    th Clube
                    th Posição
                    th Categoria
                tbody
                    each patient in patients
                        tr.clickable-row(data-href='/treatment/patient?patientid=' + patient._id)
                            td
                                img(src=patient.gravatar(), class='profile', width='60', height='60')
                            td=patient.name
                            td=patient.career && patient.career.club
                            td=patient.career && patient.career.position &&patient.career.position.toUpperCase()
                            td=patient.career && patient.career.category && patient.career.category.toUpperCase()

    script.
        var addListeners = function () {
          jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
              window.location = $(this).data("href");
            });
          });
        };

        window.onload = addListeners;
