extends ../../layout

block content
    h2 Paciente
    hr
    .col-sm-8.patient-profile
        .row
            .col-sm-4
                img(src=patient.gravatar(), width=150, height=150)
            .col-sm-6
                h4=patient.name
                h3=patient.getBirthday() + ' anos'
                h3=patient.nationality
            .col-sm-2.profile-buttons
                a.clickable
                    i.fas.fa-edit
                    | Editar
                a.clickable.delete-action(data-href='/treatment/patient?patientid=' + patient._id)
                    i.fas.fa-trash-alt
                    | Deletar
        hr
        h4 Contato
        .row
            .col-sm-6
                h4.phone=patient.phone
            .col-sm-6
                h4=patient.email
        .h4 Registro
            .row
                .col-sm-6
                    h4.cpf='CPF: ' + patient.cpf
                .col-sm-6
                    h4='RG: ' + patient.rg
        .h4 Plano de Saúde
            .row
                .col-sm-6
                    h4=patient.insurance &&  patient.insurance.name && patient.insurance.name.toUpperCase()
                .col-sm-6
                    h4=patient.insurance && patient.insurance.code
        hr
        h4 Carreira
            .row
                .col-sm-4
                    h4.captalize= 'Time: ' + patient.career.club
                .col-sm-4
                    h4.captalize= 'Posição: ' + patient.career.position
                .col-sm-4
                    h4.captalize= 'Categoria: ' + patient.career.category

    .col-sm-4
        .col-sm-12
            h3 Avaliações
            hr
            if !patient.evaluations.length
                a.btn.btn-success(href='/treatment/createevaluation?patientid=' + patient._id) Fazer primeira avaliação
            else
                .special-list
                    ul
                    for evaluation in patient.evaluations
                        li
                            a=evaluation
                    a.btn.btn-success.newevalution-button(href='/treatment/createevaluation?patientid=' + patient._id)  Nova Avaliação
        .col-sm-12
            h3 Atendimentos
            hr
        .col-sm-12
            h3 Histórico
            hr

    style.
        .newevalution-button {
            margin-top: 10px;
        }
    script.
        window.onload = function () {
          $('.phone').text(function (i, text) {
            return text.replace(/(\d{3})(\d{4})(\d{4})/, '($1) $2-$3');
          });
          $('.cpf').text(function (i, text) {
            return text.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
          });
          $('.delete-action').click(function () {
            var link = $(this).data('href');

            console.log(link);
            $.ajax({
              type: "DELETE",
              url: link,
              data: {
                _csrf: getCSRFToken()
              },
              complete: function (res) {
                var data = res.responseJSON;

                window.location.href = data.location;
              }
            });
          });
        }
